.news {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

  &__image {
    img {
      width: 100%;
      height: 200px;
      position: relative;
    }

    &__tag {
      border-radius: 0px 5px 5px 0px;
      position: absolute;
      background-color: $secundary-color;
      z-index: 1;
      top: 110px;
      p {
        color: rgb(255, 255, 255);
        padding: 4px 12px;
        font-size: 0.75em;
        font-weight: 500;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 10px 20px;
    h1 {
      font-size: 1rem;
      font-weight: 700;
      margin-right: 20px;
    }
    button {
      padding: 5px 10px;
      border-radius: 10px 0 10px 0;
      background-color: $green-color;
      border: none;

      p {
        color: white;
        font-size: 0.5rem;
        font-weight: 500;
      }
    }
  }

  &__information {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px 20px 20px;

    img {
      width: 25px;
      margin-right: 10px;
    }

    h5 {
      font-size: 0.9em;
      font-weight: 700;
      margin-bottom: 2px;
    }

    span {
      color: #82878a;
      font-size: 0.5rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.43;
      letter-spacing: 0.01071em;
    }
  }

  &__tags {
    color: #2481c4;
    border: none;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #eef5fa;
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 20px 20px;
  }

  &__paragraph {
    padding: 0 20px 20px 20px;

    p {
      color: #1f2d35;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    &__button {
      width: 70%;
      border: 1px $secundary-color solid;
      border-radius: 10px 0 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      button {
        background: none;
        border: none;

        img {
          width: 10px;
          height: 10px;
          margin-right: 5px;
        }
      }
    }
  }
}
