@font-face {
  font-family: "Dosis Regular";
  src: url("../../assets/fonts/Dosis-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: "Dosis", sans-serif !important;
}